@import "tailwindcss";

/* base styles (optional) */
@layer base {
  body {
    font-family: Outfit;
  }
}

/* theme variables */
@theme {
  --color-lightHover: #fbbf24;
  --color-darkHover: #353744;
  --color-darkTheme: #262626;

  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif;

  --shadow-black: 4px 4px 0 #000;
}

@custom-variant dark (&:where(.dark, .dark *));

/* custom utility — @layer utilities ensures Tailwind recognizes it as a utility */
@layer utilities {
  .grid-cols-services {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
